includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:
    paths:
        - src/
        - config/

    level: 8

    tmpDir: build/phpstan
    checkModelProperties: false
